@{
    ViewData["Title"] = "Contact me";
}

<article>
    <hr/>
    <p>If you happen to have a reason to want to get in touch:</p>
    <span class="glyph glyphicon glyphicon-envelope"></span><p>Email: Kimon5@hotmail.dk</p>
    <span class="glyph glyphicon glyphicon-earphone"></span><p>Tlf: 31354107</p>
    <span class="glyph glyphicon glyphicon-comment"></span><p>Discord: cybon7840</p>
    <span class="glyph glyphicon glyphicon-briefcase"></span><p><a href="https://www.linkedin.com/in/kimontogrou/">(Link) LinkedIn Profile-link!</a></p>
    <span class="glyph glyphicon glyphicon-cloud"></span><p><a href="https://github.com/Cybont">(Link) GitHub Profile!</a></p>
    
</article>