@{
    ViewData["Title"] = "Contact me";
}

<article>
    <span class="glyph glyphicon glyphicon-envelope"></span><p>Email: Kimon5@hotmail.dk</p>
    <span class="glyph glyphicon glyphicon-earphone"></span><p>Tlf: 31354107</p>
    <span class="glyph glyphicon glyphicon-comment"></span><p>Discord: cybon7840</p>
    <span class="glyph glyphicon glyphicon-briefcase"></span><p><a href="https://www.linkedin.com/in/kimon-togrou-2264a6171/">LinkedIn: https://www.linkedin.com/in/kimon-togrou</a></p>
    
</article>