@{
    ViewData["Title"] = "About me";
}

<article>
    <hr/>
    <h3>Current occupation</h3>
    <p>I’m currently studying Software development, at EASJ.</p>
    <h3>What do I do?</h3>
    <p>I am mainly a programmer with a love for design, aesthetics and performance. I have worked on various types of projects with different technologies.</p>
    <p>Some include:</p>
    <ul>
        <li>C# (WPF, UWP, ASP.NET, .Net Core (API, Websites), Unity (Monobehavior), Generics)</li>
        <li>3D Modelling (Autodesk Maya)</li>
        <li>Websites (CSS, HTML, PHP, Javascript, Typescript, JQuery, SQL)</li>
        <li>Games (Unity, Gamemaker)</li>
        <li>IoT (Python)</li>
    </ul>
    <h3>Personality</h3>
    <p>
        I pride myself on being reliable and team oriented, I work well alone, but enjoy the comradery and the energy, that can only be experienced when the work of multiple people come together and create something cohesive.
    </p>
    <h3>Work ethic</h3>
    <p>I am comfortable with a leadership role as well, organizing and making sure communication is efficient and clear is something I would put as one of my first priorities for making a project run successfully with the least amount of hassle necessary. I enjoy the sense of growth that comes from continuous review, assessment and changes to the process (scope and so on) and the impact that it has on the velocity of my team.</p>
    <h3>Ambition</h3>
    <p>My professional goal for the moment being, is to get continuously better at working within an agile-team.</p>
</article>
