@{
    ViewData["Title"] = "Projects";
}

<article>
    <hr />
    <p>Some can be found on my GitHub:</p>
    <span class="glyph glyphicon glyphicon-cloud"></span><p><a href="https://github.com/Cybont">(Link) GitHub Profile!</a></p>
    <h3>"Roskilde Mesterskaberne" (Roskilde (city), Championships) nominations</h3>
    <p>These projects were made as part of a yearly schoolwide completion.</p>
    <h4>Fan Informational Website:</h4>
    <p>A web group project written in HTML, CSS, PHP and Javescript, was said to be a year ahead of our current course and got as a nomination.</p>
    <h4>Unity Runner Game:</h4>
    <p>A Unity game group project which was made with C# and was our first experience making a game which we had 12 hours to make. Included original art, and sound.</p>
    <h3>Hands-On</h3>
    <p>Was part of a 4 week school project with a group of students before our exam, to make an educational card game in association with the school to promote practical education like web and software development, animation etc... </p>
    <p>We ended up making a dynamic asset-generation-system with XML so you didn't have to change the code every time you wanted to change and or add a new card to the game, a current-hand-UI-system to flip through your cards and look at their properties, a rulebook and a UI for the scoring-system before turning the code over to the school so they could continue the process with the new incoming students.</p>
</article>
