@{
    ViewData["Title"] = "Skills";
}

<article>
    <hr/>
    <p>Everything in each subcategory is listed in terms of familiarity and/or mastery.</p>
    <p>The items listed are only a section of a more comprehensive overview, that can be found here:</p>
    <span class="glyph glyphicon glyphicon-briefcase"></span><p><a href="https://www.linkedin.com/in/kimontogrou/">LinkedIn: Click Here To View My Profile!</a></p>
    <h3>Languages</h3>
    <ul>
        <li>Danish (Native)</li>
        <li>English (Native level)</li>
        <li>Greek (Limited)</li>
    </ul>
    <h3>General</h3>
    <ul>
        <li>Software-Development</li>
        <li>Web Development</li>
        <li>Agile Methodologies</li>
        <li>3D Modeling</li>
    </ul>
    <h3>Programming languages</h3>
    <ul>
        <li>C#</li>
        <li>Typescript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>SQL</li>
        <li>Python</li>
    </ul>
    <h3>Tools</h3>
    <ul>
        <li>Visual Studio</li>
        <li>Visual Studio Code</li>
        <li>Photoshop</li>
        <li>Autodesk Maya</li>
        <li>PyCharm</li>
    </ul>
</article>

